<div class="container">
  <div class="login">
    <div class="header">
      <h1>Reset Password</h1>
      <h1></h1>
    </div>
    <form class="login__form mat-elevation-24">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
          <input [formControl]="email"  matInput placeholder="Email">
        <mat-error *ngIf="(email.touched && email.hasError('required'))" >Email is required</mat-error>
        <mat-error *ngIf="(email.touched && email.hasError('email'))" >Email is invalid</mat-error>
      </mat-form-field>


      <button type="submit" (click)="sendPasswordResetEmail()" [disabled]="!email.valid || ($loading | async)"
              mat-raised-button color="accent">
        Send
      </button>
    </form>

    <div class="action__buttons">
      <a [disabled]="($loading | async)" mat-raised-button color="default" [routerLink]="['../signup']" >Create Account</a>
      <a [disabled]="($loading | async)" mat-raised-button color="default" [routerLink]="['']" >Login</a>
    </div>

  </div>


</div>
